<!DOCTYPE html>
<html>
<head>
  <title>Maitore</title>
</head>
<body>
  <%= render :partial => 'layouts/header' -%>
  <%= yield %>
  <%= render :partial => 'layouts/menu' -%>
  <%= render :partial => 'layouts/footer' -%>
</body>
</html>
